{% include "base.html" %}
{% block main %}
<div id="form_container">
<h1>&nbsp; </h1>
<h2>All Posts</h2>
<h3>Welcome Back, {{ user.email }} </h3>
<table border='1' align="center">
<tr>
<th>
Created By
</th>
<th>
Created By's Name
</th>
<th>
Name
</th>
<th>
Desc
</th>
<th>
Price
</th>
</tr>
{% for p in postlist %}
<td>{{ p.user_created }}</td>
<td>{{ p.user_created.get_username }}</td>
<td>{{ p.name }}</td>
<td>{{ p.description  }}</td>
<td>{{ p.price }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
</div>

<a href="/create-post">New Post</a>
