{% include "base.html" %}
{% block main %}


<div id="header"></div>

<div id="logo"><img src="/static/logo.gif"> <h1>Logo/Title</h1> </div>

<div id="winnings" class="winnings" style="visibility:hidden"><h2>Winnings Plcholdr</h2></div>


<div style="text-align: right; padding-top:2%; padding-bottom: 2%; display:inline;border-style:none;border-width:none;width:47%;float:left;padding-right:2%;" id="login_form">{% include "login_form.html" %} </div>
<!-- <div class="headerDivider"></div> -->
<div id="sign_up_form" style="text-align:left; padding-top:2%; padding-bottom: 2%;display:inline;border-style:none;border-width:none;width:47%;float:right;padding-left:2%;">{% include "sign_up_form.html" %}  </div>

<div style="border-style:none;border-width:medium;clear:both; visibility: hidden;">
<pre>
{% include "urls.py" %}
</pre>
</div>

{% endblock %}
